/* .vehicle-tools-container {
    background-color: #001527;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

.vehicle-tool-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: auto;
}
.vehicle-tool-box:hover{
    cursor: pointer;
}

.vehicle-tool-icon {
    border: 1px solid white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
a{
    text-decoration: none;
}
.vehicle-tool-icon img {
    width: 24px;
    height: 24px;
}

.vehicle-tool-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vehicle-tool-title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    margin: 0; /
}

.vehicle-tool-arrow {
    margin-left: 6px;
    font-size: 22px; 
}
h3{
    font-weight:lighter;
    opacity: 0.9;
}
.vehicle-tool-desc {
    font-size: 14px;
    color: #ccc;
    margin-top: -10px; 
    text-align: center; 
    padding-left: 20px;
} */


/* css  222 */

.quick-link-container {
    background-color: #001527;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

.quick-link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: auto;
}

.quick-link-box:hover {
    cursor: pointer;
}

.quick-link-icon {
    border: 1px solid white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

a {
    text-decoration: none;
}

.quick-link-icon img {
    width: 24px;
    height: 24px;
}

.vehicle-tool-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quick-link-title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin: 0;
}

.quick-link-arrow {
    margin-left: 6px;
    font-size: 22px; 
}

h3 {
    font-weight: lighter;
    opacity: 0.9;
}

.quick-link-desc {
    font-size: 14px;
    color: #ccc;
    margin-top: -20px; 
    /* text-align: center;  */
    /* padding-left: 20px; */
    text-align: left;
    font-weight: 200;
    font-size: small;
}
