* {
  font-family: "FordMotion, arial, sans-serif";
  font-weight: normal;
}

.vehicle-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 30px;
}

.vehicle-card {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}

.vehicle-card-image-wrapper {
  position: relative;
  width: 100%; 
  padding-top: 56.25%; 
  overflow: hidden;
  border-radius: 8px;
}

.vehicle-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  border-radius: 8px;
}

.vehicle-card-price-label-link {
  position: absolute;
  color: white;
  bottom: 8px; 
  left: 8px; 
  padding: 4px 8px; 
  font-size: 16px;
  text-decoration: underline;
  border-radius: 4px;
}

.vehicle-card-content {
  padding-top: 16px; 
  padding-left: 16px; 
  color: #333;
  
}

.vehicle-card-title {
  font-size: 28px;
  font-weight: lighter;
  margin: 0px 0px 10px;
  padding: 0px 0px 10px;
  line-height: 1.21428571;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  max-height: 30px;
  text-overflow: ellipsis;
}

.vehicle-card-price {
  font-size: 20px;
  line-height: 1.21428571;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  max-height: 25px;
  text-overflow: ellipsis;
}

.vehicle-card-description {
  font-size: 16px;
  line-height: 1.21428571;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  max-height: 20px;
  text-overflow: ellipsis;
}

.vehicle-card-price-label {
  width: 100px; /* Inherit the width of the parent */
  height: 20px; /* Inherit the height of the parent */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  overflow: hidden; /* Hide overflowing content */
  color:aliceblue;
}



.vehicle-card-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.vehicle-card-buttons a {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 8px; 
  font-size: 14px; 
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.vehicle-card-btn.blue {
  background-color: #0072CE;
  color: white;
}

.vehicle-card-btn.outline {
  border: 2px solid #0072CE;
  color: #0072CE;
  background-color: white;
}

@media (min-width: 768px) {
  .vehicle-card-image-wrapper {
    padding-top: 50%; 
  }
}

@media (max-width: 767px) {
  .vehicle-card-image-wrapper {
    padding-top: 70%; 
  }

  .vehicle-card-buttons {
    display: flex;
    flex-direction: column; 
    gap: 16px;
    align-items: stretch;
  }

  .vehicle-card-buttons a {
    width: 100%; 
    text-align: center; 
    margin-right: 0; 
  }
}

