* {
  font-family: "FordMotion, arial, sans-serif";
  font-weight: normal;
}
.card-container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.card-image {
  position: relative;
  width: 432px;
  min-height: 330px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 12px;
}

.card-image img {
  width: 100%;
  height: 330px;
  display: block;
}

.overlay-text {
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-size: 16px;
  color: #000;
  border-radius: 4px;
  text-decoration: underline;
  padding: 6px 9px;
}

.overlay-text:hover {
  text-decoration: underline;
}

.card-body {
  padding-left:30px;
  width: 432px;
}

.card-title {
  font-size: 38px;
  margin: 0 0 10px;
  color: #000;
  line-height: 1.21428571;

}

.card-description {
  font-size: 16px;
  margin: 0 0 20px;
  color: #333;
}

.card-button {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  line-height: 1.71428571;
  letter-spacing: 0;
  font-weight: 700;
  padding-bottom:20px;
  width: 100%;
}

.card-button:hover {
  color: #666;
  cursor: pointer;
}

.card-arrow {
  margin-left: 6px;
  font-size: 14px;
}