<sly data-sly-use.model="com.aem.ford.core.models.FordButton" />
<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html" />    
<sly data-sly-call="${clientlib.css @ categories='ford.components.fordbutton'}"/>
 
<div class="ford-custom-button-wrapper"
     style="background-color: ${model.backgroundColor @ context='styleToken'};
            color: ${model.textColor @ context='styleToken'};
            padding: ${model.padding @ context='styleToken'};
            width: ${model.width @ context='styleToken'};
            height: ${model.height @ context='styleToken'};
            border: ${model.borderSize @ context='styleToken'} solid ${model.borderColor @ context='styleToken'};
            border-radius: ${model.borderRadius @ context='styleToken'};">
    ${model.text}
</div>

