<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html" />
<sly data-sly-call="${clientlib.css @ categories='ford.components.vehiclecard'}" />

<sly data-sly-use.model="com.aem.ford.core.models.VehicleCard">
  <div class="vehicle-cards-container" style="margin-bottom: 65px;" >
    <div class="vehicle-card-wrapper" data-sly-list.card="${model.cards}">
      <div class="vehicle-card">
        <div class="vehicle-card-image-wrapper">
          <img src="${card.imagePath @ context='uri'}" alt="${card.title}" class="vehicle-card-image" />
          <sly data-sly-test="${card.shownPriceLabel}">
            <a href="${card.overlayLink @ context='uri'}" class="vehicle-card-price-label-link">
             <span class="vehicle-card-price-label">${card.shownPriceLabel}</span> 
            </a>
          </sly>
        </div>

        <div class="vehicle-card-content">
          <h2 class="vehicle-card-title">${card.title}<sup>®</sup></h2>
          <p class="vehicle-card-price">Starting at ${card.price}<sup>1</sup></p>
          <p class="vehicle-card-description"style="max-height: 80px; " >${card.description}</p>
          <div class="vehicle-card-buttons" >
            <sly data-sly-test="${card.cta1Text && card.cta1Link}">
              <a href="${card.cta1Link @ context='uri'}" class="vehicle-card-btn blue">${card.cta1Text}</a>
            </sly>
            <sly data-sly-test="${card.cta2Text && card.cta2Link}">
              <a href="${card.cta2Link @ context='uri'}" class="vehicle-card-btn outline">${card.cta2Text}</a>
            </sly>
          </div>
        </div>
      </div>
    </div>
  </div>
</sly>
